.form_head{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding:10px 5px;
}
.form_left{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 20%;
    padding:0px 10px ;
}

.form_logo>img{
    height: 40px;
    margin-right: 10px;
}
.form_left_content{
    /* width: 70%; */
    display: flex;
    align-items: center;
}
.form_left_content div{
    margin-right: 10px;
}
.form_right{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 25%;
    padding: 0px 15px;
}
.form_right div{
    margin-right: 15px;
}
